extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  if locals.authenticated 
    a(href='/questions')
  else
    div.title
      h1 welcome
      h1 to
      h1 nap-overflow
      img(src='https://www.pngitem.com/pimgs/m/6-65727_png-v-girl-sleep-cartoon-png-transparent-png.png' )
      h3 Your Napping is our concern!!
