extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
   div(class="questions-container")
    ul
      if questions
        each question in questions
          li
            a(href=`/questions/${question.id}`)
          h1= question.title
          div|!{question.content}
            if user
              if question.userId == user.id
                form(action=`/questions/${question.id}/delete` method="POST")
                  button Delete

