doctype html
html
  head
      block head
        title= title
        link(rel="stylesheet" href="/stylesheets/layout.css")
        link(rel="stylesheet" href="/stylesheets/questions.css")
        link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css")
        link(rel="shortcut icon" type="image/jpg" href="https://cdn.discordapp.com/attachments/907409069856419841/910044223221399562/unknown.png")
  body
    div.nav_links_container
      div.home_links
        a#home-page(href='/') Nap Overflow
        a#question-link(href='/questions') Questions
      div.search_bar_container
        input#search-bar(action='/search' type='text' placeholder='🔎 Search for a napping question')
      div.sign_links
        if locals.user
          span.logged_in= `Current User: ${user.displayName}`
          a(href='/questions/new') Ask a Question
          form(action='/logout' method='post')
            button#sign-out Sign out
        else
          a(href='/login') Sign In
          a(href='/sign-up') Sign Up
          a(href='/demo') Demo
    block content
  footer
    //- p.footer-title Meet the developers
    div.developers
      div
        a(href='https://github.com/andyrose507' target='_blank') Andy Jones
      div
        a(href='https://github.com/felmallakh' target='_blank') Fady El Mallakh
      div
        a(href='https://github.com/Geoffst3r' target='_blank') Geoffrey Cox
      div
        a(href='https://github.com/Sumit-dey' target='_blank') Sumit Dey
