extends layout.pug

block content
  h1= title
  ul
    div
      form(action='/questions/new' method="get")
        button Ask a Question
    if questions
      each question in questions
        li
          d=question.title
          d=question.createdAt
          d=question.userId
