extends layout

block content
    div.wrapper
        div.sidebar
        div.mainbar
            div.askBox
                a.qType Results for: "#{term}"
                form(action='/questions/ask' method="get")
                    button.ask Ask a Question
            if questions
                each question in questions
                    div.questionBox
                        div.info
                            a Posted by:
                            a #{question.User.displayName}
                        div.qCont
                            a(href=`/questions/${question.id}`) #{question.title}
        div.sidebar
    include footer.pug
