extends layout

append head
    link(rel="stylesheet" href="/stylesheets/question-form.css")

block content
    div(class="questions-container")
        ul
          if questions
            each question in questions
             li
              div.ques-link
                 a(href=`/questions/${question.id}`) #{question.title}
              div !{question.content}
                //- if user
                //-   if question.userId == user.id
                    //- form(action=`/questions/${question.id}/delete` method="POST")
                    //-  button Delete
