.page_content {
      display: block;
      margin-left: 20%;
      margin-right: 15%;
      border-left: 1px solid grey;
}

li a {
      text-decoration: none;
}

li a:hover {
      color:cornflowerblue;
}

.question_list {
      display: block;
      flex-direction: column;
      border-top: 1px solid grey;
      list-style: none;
}

li span {
      display: block;
}

d:nth-child(2) {
      margin-top: 7px;
      margin-bottom: 7px;
      display:block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}

li {
      margin: 5px;
      padding: 10px;
}

d:nth-child(3) {
      text-align:end;
      position: relative;
      display:block;
}

h1 {
      height: max-content;
      padding: 10px
}
